@import "./blocks/botoes";
@import "./blocks/editar-perfil";
@import "./blocks/navegacao-superior";
@import "./blocks/navegacao-lateral";
@import "./blocks/visao-geral";

@import "./divs/rodape";
@import "./divs/heading";

@import "./vars/colors";


body{
  font-family: Helvetica, Arial, sans-serif;
}

.fundo{
  background-image: $gradient-fundo;
}

.titulo-perfil{
  background-color: $forte-inverse-fundo;
  h2 {
    font-size: 2.6rem;
  }
}





