@import "./vars/colors";
@import "./blocks/navegacao-superior";
@import "./blocks/cabecalho";
@import "./blocks/navegacao-lateral";
@import "./blocks/visao-geral";
@import "./blocks/editar-perfil";
@import "./blocks/rodape";


body{
  font-family: Helvetica ,Arial, sans-serif;
  .logo{
    width: 120px;
  }
}

.fundo{
  background-image: $gradient-fundo;
}

.utilitario{
  background-color: $forte-inverse-fundo;
}




