$forte-cor: #1ed760;
$forte-fundo: #1b1b1b;

$forte-inverse-fundo: #fff;
$forte-inverse-cor: $forte-inverse-fundo;

$gradient-fundo: linear-gradient(#212c39, #121e3d 50% , #000);
$gradient-banner: rgba(0, 0, 0, 0) linear-gradient(-180deg, rgb(182, 43, 190) 0%, rgb(150, 34, 185) 100%) repeat scroll 0% 0%;