@import "../vars/colors.scss";

.btn-primary, .btn-inverter, .btn-banner, .btn-submit, .btn-destaque{
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: $forte-inverse-cor;
  background-color: #cb1582;
  border: none;
  font-weight: 600;
  &:hover{
    background-color: $forte-inverse-fundo;
    color: #000;
  }
  &.btn-inverter{
    background-color: #a5ffef;
    color: #cb1582;
    &:hover{
    background-color: $forte-inverse-fundo;
    color: #cb1582;
    } 
  }
  &.btn-banner{
    background-color: $forte-cor;
    color: #2d46b9;
    &:hover{
      background-color: $forte-inverse-fundo;
    }
  }
  &.btn-submit{
    background-color: $forte-cor;
    color: $forte-inverse-cor;
    border: 1px solid $forte-cor;
    &:hover{
      background-color: $forte-inverse-fundo;
      color: #000;
      border: 1px solid #000;
    }
  }
  &.btn-destaque{
    background-color: $forte-inverse-fundo;
    color: #757575;
    border: 2px solid #757575;
    &:hover{
      color: #000;
      border: 2px solid #000;
    }  
  }
}