@import "../vars/colors.scss";

.heading{
  background-color: #ff4632;
  padding: 20px;
  h1{
    padding: 20 0;
    font-weight: 1000;
    font-size: 3rem;
    height: 150px;
  }
  h3{
    height: 100px;
    padding: 50 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .btn-primary{
    border-radius: 30px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: $forte-inverse-cor;
    background-color: #000;
    border: none;
    font-weight: 600;
    line-height: 30px;
    width: 300px;
   
  }
  p{
    margin-top: 30px;
    font-size: 0.8rem;
    height: 50px;
    a{
      color:#000;
    }
  }
}