@import "../vars/colors.scss";

.navegacao-lateral{
  background-color: $forte-fundo;
  .foto{
    width: 90px;
    margin-left: 80px;
  } 
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      padding: 10px;
      border-bottom: 1px solid $forte-borda;
      border-top: 1px solid $fraca-borda;
      a{
        text-decoration: none;
        color: $fraca-cor-sixth;
        padding: 10px;
      }
    }
  }  
}