@import "../vars/colors.scss";

.visao-geral{
  h1{
    font-weight: 1000;
    height: 80px;
  }
  h3{
    font-weight: 600;
    font-size: 1.5rem;
    height: 50px;
    margin-top: 30px;
  }

  .banner-roxo{
    height: 230px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background: $gradient-banner;
    color: $forte-inverse-cor;
  }
  .bloco-free{
    height: 150px;    
    border: 1px solid #eeeeee;
    padding-left: 20px;
    margin-bottom: 30px;
    p{
      border-bottom: 1px solid #eeeeee;
      height: 50px;
      padding-top: 20px;
    }
  }
  .aviso{
    border: 1px solid #d9dadc;
    background-color: #f8f8f8;
    padding: 20px;
  }
}
